<h1>Merci de vérifier votre adresse email</h1>

<p>
	Merci de vérifier votre adresse email en cliquant sur le lien suvant:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirm my Email</a>.
								    Ce lien expire dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	A bientôt!
</p>
