{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Bienvenue sur la homepage</h1>
        <p class="lead">Ullamco est ex duis non Lorem pariatur labore labore et ipsum magna ea cupidatat. Cupidatat cillum consectetur magna adipisicing do nulla. Officia ea dolor cillum voluptate minim in Lorem exercitation dolore elit cupidatat nulla. Laborum et consectetur sit dolore. Est fugiat eu aute eu deserunt sit et eiusmod ipsum eiusmod laboris.</p>
        <hr class="my-2">
    </div>
</div>

<div class="container">
    <h2>Les figures</h2>
    <div class='row'>
        {% for trick in tricks %}
            <div class='col-5'>
                <div class='card'>
                    <div class='card-body'>
                        <h5 class='card-title'>
                            <a href="#">{{ trick.title }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}