#comments {
  width: 70%;
  .comment {
    .avatar {
      width: 30px;
      margin-right: 5px;
    }
  }
}

.modal-dialog {
  max-width: 70%;
  .modal-content {
    background-color: transparent;
    border: 0;
    max-width: 500px;
    .modal-header {
    }
    .close {
      span {
        font-size: 1.5em;
      }
    }
  }
}

/* Forms */
#trick_description {
  height: 100px;
}
