{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	<div class="container edit-page">
		<h1>Modifier la catégorie</h1>

		{{ include('category/_form.html.twig', {'button_label': 'Enregistrer'}) }}

		{{ include('category/_delete_form.html.twig') }}
	</div>
{% endblock %}
