{% extends 'base.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ajouter une catégorie</h1>

		{{ include('category/_form.html.twig') }}

	</div>
{% endblock %}
