body {
  &#route-home {
    section {
      &#header {
        background-image: url(/asset/img/home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 100%;
        height: 100vh; //viewport height
        h1 {
          margin-top: 2rem;
          color: white;
        }
        .lead {
          color: white;
          a {
            color: white;
          }
        }
      }
      &#tricks {
        padding-top: 54px;
        margin-top: -54px;
        .container {
          margin-top: 2rem;
        }
      }
    }
  }

  main {
    padding-top: 54px;
  }

  nav {
    min-height: 54px;
    background-color: #222;
    color: white;
    a {
      color: white;
    }
    .avatar {
      width: 30px;
      margin-right: 5px;
    }
  }

  section {
    padding-top: 1rem;
  }

  .alert-verify_email_error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .trick-show {
    .badge {
      a,
      a:hover,
      a:visited {
        color: #ffffff;
      }
    }

    h2 {
      margin-top: 1em;
    }

    #comments {
      width: 70%;
      .comment {
        .avatar {
          width: 30px;
          margin-right: 5px;
        }
      }
    }

    .modal-dialog {
      max-width: 70%;
      .modal-content {
        .modal-header {
          border-bottom: 0;
        }
        .modal-body {
          text-align: center;
          padding: 0;
          img {
            margin: auto;
          }
        }
        .close {
          span {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .edit-page {
    /* Forms */
    form {
      margin-bottom: 1em;

      #trick_description {
        height: 100px;
      }

      .btn {
        margin-top: 0.5em;
      }
    }
  }

  .collection-fields-list {
    li {
      border: 1px dotted #666;
      padding: 1rem;
    }
  }

  .form-end {
    fieldset {
      &.form-group {
        margin-bottom: 0;
      }
    }
  }
  footer {
    background-color: #222;
    padding: 2rem;
    color: white;
  }
}
