body {
  nav {
    color: white;
    .avatar {
      width: 30px;
      margin-right: 5px;
    }
  }
  .breadcrumb {
    background-color: grey;
  }
  main {
    padding-top: 4.5rem;
  }
  section {
    padding-top: 1rem;
  }

  .alert-verify_email_error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .trick-show {
    .badge {
      a,
      a:hover,
      a:visited {
        color: #ffffff;
      }
    }

    h2 {
      margin-top: 1em;
    }

    #comments {
      width: 70%;
      .comment {
        .avatar {
          width: 30px;
          margin-right: 5px;
        }
      }
    }

    .modal-dialog {
      max-width: 70%;
      .modal-content {
        .modal-header {
          border-bottom: 0;
        }
        .modal-body {
          text-align: center;
          padding: 0;
          img {
            margin: auto;
          }
        }
        .close {
          span {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .edit-page {
    /* Forms */
    form {
      margin-bottom: 1em;

      #trick_description {
        height: 100px;
      }

      .btn {
        margin-top: 0.5em;
      }
    }
  }

  footer {
    background-color: #222;
    padding: 2rem;
  }
}
