{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">SnowTricks</h1>
			<p class="lead">Partager vos plus beaux tricks !</p>
		</div>
	</div>

	<div class="container">
		<h2>Les tricks</h2>
		<div class='row'>
			{% for trick in tricks %}
				{% include "trick/_single.html.twig" %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
