{% extends 'base.html.twig' %}

{% block body %}

	<section id="header">
		<div class="container pt-5">
			<h1 class="display-4">SnowTricks</h1>
			<p class="lead">Partagez vos plus beaux tricks !
				<a href="#tricks" class="tricks-link">
					<i class="fa fa-arrow-down"></i>
				</a>
			</p>
		</div>
	</section>

	<section id="tricks">
		<div class="container">
			<h2>Les tricks</h2>
			<div class='row'>
				{% include "trick/_list.html.twig" %}
			</div>

			<div class="text-center">
				<a href="{{ path('trick_listhtml')}}" class="load-more" style="display: none;">
					<i class="fa fa-plus-square"></i>
				</a>
				<input type="hidden" id="npage" value="1">
				<input type="hidden" id="pagecount" value="{{ pagecount }}">
				<input type="hidden" id="nbperpage" value="{{ nbperpage }}">
			</div>


		</div>
	</section>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('asset/js/load-more.js') }}"></script>
{% endblock %}
