{% extends 'base.html.twig' %}

{% block body %}
	.<div class="container mt-4">
		<h1>Création d'une figure</h1>
		{{ form_start(formView) }}
		{{ form_widget(formView) }}

		<button class="btn btn-primary">Enregistrer</button>
		{{ form_end(formView) }}
	</div>
{% endblock %}
