{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
	<div class="container">
		<h2>Gérer les figures</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Figure</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for trick in tricks %}
					<tr>
						<td>{{ trick.name }}</td>
						<td>
							<a href="{{ path('admin.trick.edit', {id: trick.id}) }}" class="btn btn-secondary">Editer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="container">
			<a href="{{ path('admin.trick.new') }}" class="btn btn-primary">Ajouter une figure</a>
		</div>

	</div>
{% endblock %}
