{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>HTTP Error</h1>

		<h2>Oups</h2>
		<p>HTTP	error</p>
		<p>
			<a href="{{ path('home') }}">return to the homepage</a>.
		</p>
	</div>
{% endblock %}
