<div class='col-5'>
	<div class='card'>
		<div class='card-body'>
			<h5 class='card-title'>
				<a href="{{ path('trick.show', {'category_slug' : trick.category.slug, 'slug' : trick.slug}) }}">{{ trick.name }}</a>
			</h5>
			<span class="badge badge-info">{{ trick.category.name }}</span>
		</div>
	</div>
</div>
