<div class='col-5'>
	<div class='card'>
		<img src="{{ trick.mainPicture}}" alt="{{ trick.title }}" class="img-fluid">
		<div class='card-body'>
			<h5 class='card-title'>
				<a href="#">{{ trick.title }}</a>
			</h5>
			<span class="badge badge-info">{{ trick.category.name }}</span>
		</div>
	</div>
</div>
