{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<h1>Modifier la figure</h1>
		{% include "trick/_form_standard_fields.html.twig" %}


		<div class="row">
			<div class="col">
				<h3>Photos</h3>
				{% include "trick/_manage_pictures.html.twig" %}
			</div>

			<div class="col">
				<h3>Videos</h3>
				{% include "trick/_manage_videos.html.twig" %}
			</div>

		</div>

		<button class="btn btn-primary float-left mr-2">Enregistrer</button>

		{{ form_end(form) }}
		{% if is_granted('ENTITY_DELETE', trick) %}
			{% include "trick/_delete_form.html.twig" %}
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('asset/js/manage-collection-widget.js') }}"></script>
{% endblock %}
