{% extends 'base.html.twig' %}

{% block body %}
	.<div class="container mt-4">
		<h1>Création d'une figure</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}

		<div class="input_fields_wrap">
			<a href="#" class="add_field_button">Ajouter une vidéo</a>
		</div>

		<button class="btn btn-primary">Enregistrer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('asset/js/form.js') }}"></script>
{% endblock %}
